.username {
    font-weight: bold;
}

.logout-btn {
    color: #333;
}

.list-group-item {
    background-color: #f8f9fa;
}

/*.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    transition: all 0.2s ease-in-out;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
    color: #fff;
  }
  
  .btn-primary.rounded-pill {
    border-radius: 50rem;
  }
  
  .list-group-item {
    display: flex;
    align-items: center;
  }
  */