.piece {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #333;
    cursor: pointer;
    margin-top: 10px;
}

.black-piece {
    background-color: #333;
}

.white-piece {
    background-color: #fff;
}